<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a5am.team.buglobalmusicfestival">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.example.googlemap.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.googlemap.permission.MAPS_RECEIVE"/>


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
                  
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6eEfXgOb_3B9WL0ioPvBAzRVv-onryXA" />

        <activity android:name=".MainActivity"

            android:label="@string/nav_lineUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PersonalPlanner"
            android:label="Personal Planner"/>

        <activity
            android:name=".Database.DatabaseTestActivity"
            android:label="@string/nav_dbTest" />
        <activity
            android:name=".ArtistInfo"
            android:label="Artist introduction" />

      
        <activity android:name=".Spotify_test"
            android:label="Spotify_Test"/>

        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".mapactivity"
            android:label="Map"></activity>

        <activity android:name=".youtube_test"
            android:label="Toutube Test"/>

    </application>


    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />


</manifest>